/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"); */

:root {
  --btnColor: rgb(0, 108, 158);
  --backgroundColor: black;
  --headerColor: rgb(255, 227, 170);
  color: var(--headerColor);
}

body {
  background-color: var(--backgroundColor);
  font-family: "Dela Gothic One", sans-serif;
}

p {
  /* text-align: center; */

  /* font-weight: bold; */
  color: var(--btnColor);
  background-color: rgb(186, 234, 250);
  border: rgb(11, 11, 106) 2px solid;

  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

h1,
h2 {
  color: var(--headerColor);
  display: flex;
  justify-content: center;
  text-shadow: -5px -5px 5px rgb(209, 0, 0);
  font-family: "Rubik Mono One", monospace;
}

button {
  background-color: var(--btnColor);
  border: var(--headerColor) 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--headerColor);
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", */
  /* "Lucida Sans", Arial, sans-serif; */
  /* font-weight: bold; */
  font-family: "Nanum Gothic", sans-serif;
  /* text-shadow: -1px -1px 1px rgb(0, 0, 0); */
  font-size: large;
  font-weight: bold;
}

.btnBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charStats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filmInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

.planetInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
